<!DOCTYPE html>
<html>
  <head>
    <title>Bloccit</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width-device-width, inital-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<style>
  div {
    width: 100px;
    height: 100px;
    background-color: white;
    animation-name: header;
     animation-duration: 3s;
   }
    @keyframes header {
        0%   {background-color: red;}
        18%  {background-color:orange}
        36%  {background-color:yellow}
        54%  {background-color: green;}
        72%  {background-color: blue;}
        90%  {background-color:purple}
      }
</style>
  </head>
  <body>

    <div class="container">
      <ul class="nav nav-tabs">
      <li><%= link_to "Home", welcome_index_path, class: "home-btn"%></li>
      <li><%= link_to "About", welcome_about_path, class:"about-btn"%></li>
      <li><%= link_to "Faq", welcome_faq_path, class:"faq-btn"%></li>
      <li><%= link_to "Google", "https://www.google.com/", class: "google-btn" %></li>

    <%= yield %>
    </div>
  </body>
</html>
